assets/scenes
build
buildMac
buildAndroid
.vs
#.vscode
.idea
output/*
.DS_Store
cmake-build-debug
imgui.ini
app.log
shader/bin/
thirdparty/

#external 
/external/assimp/
/external/zlib/
/external/SDL/
/external/imgui/
/external/ImGuizmo/
/external/SPIRV-Cross/
/external/efsw/

#resource
/resource/Cache/