assets/scenes
build
.vs
#.vscode
.idea
output/*
.DS_Store
cmake-build-debug
shader/bin/*
thirdparty

#external 
/external/assimp/*
/external/zlib/*
/external/SDL/*
/external/imgui/*
/external/ImGuizmo/*
